<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981601908583-edsk0huanfoo0m4tghspf4si28e7tsbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981601908583-edsk0huanfoo0m4tghspf4si28e7tsbt</string>
	<key>API_KEY</key>
	<string>AIzaSyD10wX7xwRcfxL7Jg6HLFghd7nDk75V5fk</string>
	<key>GCM_SENDER_ID</key>
	<string>981601908583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eHealthProject</string>
	<key>PROJECT_ID</key>
	<string>e-health-app-1312</string>
	<key>STORAGE_BUCKET</key>
	<string>e-health-app-1312.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981601908583:ios:535b15562d3523187021c2</string>
</dict>
</plist>